# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.next/build-manifest.json
.next/cache/images/7S7wWSonluMkCTB7uw90Qkv-Psk2+GDUb-dGk+yF7oA=/60.1687743875270.GpgK2YiI-uMJG5NcVkgUSlOBO32Pu3o1VScFPAw37ww=.webp
.next/cache/images/9Oyhej8hyn4ZQxYPBvFfWgsXJUkp29M+yZcuiLcW0bs=/60.1687763424470.P+Gd8V9y3BrCtOXUf6yIj7uxknhIscNeqZttSZazZ3k=.webp
.next/cache/images/CxMFqtUnlBAfcp7AqTT60vrf1PIxF+6Lhnrgtg3t9u4=/60.1687830230502.buuXgWJXhmyXvQRFq441JAwIaDM8turvefyi9jZbyrY=.webp
.next/cache/images/DDrN9CwMKWSympOwXTgWVy5u-Sykm3gqGrYtGeecKJ8=/60.1687743408105.xgQ5mknW8WSHrGzw7ARWSYP2CF3L6fJtA+7fB36Jwfk=.webp
.next/cache/images/gFO5pTrQHSwY0Lz-SiBbQnfvUQ6CbTzgpdIqG82Zt5w=/60.1687937480212.4WUaYxL7ErxoIbhAGDORKiPCo1tPCSb96m7EWoGAZYE=.webp
.next/cache/images/gtWkVt3ozFIl9wcAmJ7LsU5zbzIN67djvjdyPotI8Z8=/60.1688015051336.iBvySdbRFRmzMLcuH2L2jUOSsfU1ctNyNB3pytqN0-0=.webp
.next/cache/images/MbnpdACCMO+lZNVZY8jLkHlblUxjhsr5d4bzty7IwkA=/60.1687830110532.P9+TU0tacAlyV24rMCjnmrMaO-6iEHqbjlGJ3c-tzZI=.webp
.next/cache/images/N0L+UhoVhI724JBtB7svuheOhoKShcmHyu84iMLycFw=/60.1687763431451.Ecw+a0rAAqHn9SV1EDblaEtSfIRswNk7JvB6hLF9tCU=.webp
.next/cache/images/QJW0+fUq765W92LL3tUVLKt5KXv5JgeSUi5J4K8YjMw=/60.1687876562406.HKcz3Mm-y5p3m+qp4bXPVmIskFxO0qWlhJpPIZSXyTM=.webp
.next/cache/images/YW2e-Fd574z2-engRcgBItgK64+0Tm9bWb35KfQ5ISY=/60.1687743456587.sp6aCKm0AABYksrrpexu6M95pp3O0I5YjP+t9j5uTzY=.webp
.next/cache/webpack/client-development-fallback/0.pack
.next/cache/webpack/client-development-fallback/1.pack
.next/cache/webpack/client-development-fallback/2.pack
.next/cache/webpack/client-development-fallback/index.pack
.next/cache/webpack/client-development-fallback/index.pack.old
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/11.pack
.next/cache/webpack/client-development/12.pack
.next/cache/webpack/client-development/13.pack
.next/cache/webpack/client-development/14.pack
.next/cache/webpack/client-development/15.pack
.next/cache/webpack/client-development/16.pack
.next/cache/webpack/client-development/17.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/6.pack
.next/cache/webpack/client-development/7.pack
.next/cache/webpack/client-development/8.pack
.next/cache/webpack/client-development/9.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/10.pack
.next/cache/webpack/server-development/11.pack
.next/cache/webpack/server-development/12.pack
.next/cache/webpack/server-development/13.pack
.next/cache/webpack/server-development/14.pack
.next/cache/webpack/server-development/15.pack
.next/cache/webpack/server-development/16.pack
.next/cache/webpack/server-development/17.pack
.next/cache/webpack/server-development/18.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/3.pack
.next/cache/webpack/server-development/4.pack
.next/cache/webpack/server-development/5.pack
.next/cache/webpack/server-development/6.pack
.next/cache/webpack/server-development/7.pack
.next/cache/webpack/server-development/8.pack
.next/cache/webpack/server-development/9.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/_error.js
.next/server/middleware-build-manifest.js
.next/server/pages-manifest.json
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/static/chunks/_error.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/webpack.js
.next/static/development/_buildManifest.js
.next/trace
